* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

button,
img {
    cursor: pointer;
}

header {
    padding: 25px;
    background-color: lightslategray;
}

.header_logo {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.logo_title {
    display: inline-block;
    vertical-align: middle;
}

.logo_img {
    display: inline-block;
    vertical-align: middle;
}

.logo_img > .pro_pic {
    border-radius: 50%;
    width: 50px;
    padding: 5px 5px;
}

.logo_details {
    display: inline-block;
    vertical-align: middle;
}

.logo_title p {
    text-transform: uppercase;
    margin: 0;
}

.logo_details > .company_name {
    color: white;
    font-size: 12px;
}

.logo_details > .company_type {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.logo_details > .client_name {
    color: white;
    font-size: 12px;
}

.top_nav {
    /* display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: right;
    width: calc(100% - 240px); */
    display: block;
    position: relative;
    float: right;
    top: 10px;
}

.header_menu > .btn_clr {
    border-radius: 30px;
    background-color: #FF422D;
    padding: 12px 25px;
    margin-right: 10px;
    border: none;
    color: white;
}

.header_menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header_menu a:hover {
    background-color: rgb(156, 168, 180);
}

.toggle_bar {
    display: none;
}

.header_menu .mobile_hr {
    display: none;
}

.header_menu .icon_home, 
.icon_touch {
    display: none;
}

.content_area {
    display: block;
    max-width: 1000px;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 0px;
    width: 95%;
}

.content {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    width: calc(100% - 375px);
    background-color: white;
}

.col_1 {
    display: block;
    position: relative;
    width: 100%;
}

.col_1 img {
    width: 100%;
}

.col_1 > .main_caption {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
}

.col {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 15px 0;
    width: 50%;
}

.col img {
    width: 100%;
}

#col_img1 {
    padding-right: 15px;
}

#col_img2 {
    padding-left: 15px;
}

.caption {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
}

aside {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 335px;
    padding: 25px;
    margin: 0;
    background: whitesmoke;
}

.client_pic {
    display: block;
    position: relative;
}

.client_pic .img_center {
    width: 100%;
}

.pro_title {
    display: block;
    position: relative;
}

.pro_title #right_name {
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0;
}

.pro_title #right_company {
    font-weight: bold;
    font-size: 15px;
    margin: -7px 0;
}

.pro_title #right_title {
    font-size: 15px;
    margin: 15px 0;
}

.pro_title #right_knowns {
    font-size: 15px;
    margin: -7px 0;
}

.pro_upper {
    display: block;
    position: relative;
    margin: 30px 0;
}

.pro_place {
    display: block;
    position: relative;
}

.pro_place #right_city {
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto;
}

.pro_place #right_number {
    font-weight: bold;
    font-size: 20px;
    margin: -15px 0;
}

.pro_middle {
    display: block;
    position: relative;
    margin: 45px 0;
}

.pro_details {
    display: block;
    position: relative;
    margin: -15px auto;
}

.pro_details .head_details {
    margin-bottom: 30px;
}

.pro_details p{
    font-size: 15px;
    margin: 12px auto;
}

.pro_license {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    margin: 50px 0;
}

.sponser_logo {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -20px auto;
}

.sponser_logo img {
    margin: 4px;
}

.info_button {
    display: block;
    position: relative;
    font-size: 15px;
    margin-top: 50px;
}

.info_button #btn_get {
    border-radius: 30px;
    border: none;
    background-color: #FF422D;
    padding: 20px;
    color: white;
    width: 100%;
}

.info_button #btn_visit {
    border-radius: 30px;
    border: none;
    background-color: #303F5B;
    padding: 20px;
    color: white;
    width: 100%;
}

.pagination {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 13px auto;
    font-size: 15px;
}

.pagination a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #ddd;
    border-radius: 60%;
}

.pagination a:hover {
    background-color: #ddd;
    border-radius: 60%;
}

.social_media {
    display: block;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.fa {
    padding: 15px;
    width: 50px;
    text-decoration: none;
    margin: 20px 0px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

footer {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: rgb(50, 53, 56);
    text-align: center;
}

.footer_img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.box_Img {
    display: block;
    margin: auto;
    padding: 0;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    border-radius: 10px;
}

.gallery {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.mySlides {
    display: none;
}

.close {
    position: fixed;
    top: 40px;
    right: 10%;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    top: 150px;
    padding: 5px 18px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev:disabled,
.next:disabled {
    display: none;
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
    background-color: black;
}

@media screen and (max-width: 950px) {
    .content {
        width: 100%;
        margin: 0 auto;
    }

    aside {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 10px;
    } 

    .logo_title {
        display: inline-block;
    }

    .top_nav {
        position: fixed;
        top: 79px;
        right: 0;
        z-index: 1;
        height: 100%;
        background-color: lightslategray;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .top_nav.active {
        display: block;
        transform: translateX(0%);
    }

    .header_menu {
        display: block;
        position: relative;
        margin: 20px;
    }

    .header_menu a {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding: 20px;
        margin-left: -10px;
    }

    .toggle_bar {
        display: block;
        float: right;
        position: relative;
        top: 10px;
        cursor: pointer;
    }

    .toggle_bar .menu_bar.active {
        background-color: rgb(156, 168, 180);
        border-radius: 50%;
    }

    .toggle_bar .menu_bar {
        color: white;
        font-size: 30px;
        padding: 5px;
    }

    .header_menu .btn_clr {
        display: block;
        position: relative;
        margin: 15px 0;
        padding: 10px 20px;
    }

    .header_menu a:hover {
        background-color: transparent;
    }

    .header_menu .mobile_hr {
        display: block;
    }

    .header_menu .icon_home, 
    .icon_touch {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-decoration: none;
        color: white;
    }

    .content_area {
        margin:80px auto 0px;
    }

    .content {
        width: 100%;
        margin: 0 auto;
    }

    aside {
        width: 100%;
        margin: 0 auto;
    }

}


/* Rough Used */

/* .header_menu {
    display: inline-block;
    position: relative;
    text-align: right;
    width: calc(100% - 260px);
} */

/* .row::after {
    content: "";
    clear: both;
    display: table;
} */

/* .content {
    padding: 5.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.content #left {
    flex: 1 1 70%;
    background-color: white;
}

.content #right {
    flex: 1 1 30%;
    background-color: whitesmoke;
} */

/* #left {
    background-color: white;
    border: 1px solid #fff;
    padding: 0.5rem;
    flex-grow: 1 1 70%;
    color: black;
}

#right {
    background-color: whitesmoke;
    border: 1px solid #fff;
    padding: 0.5rem;
    flex-grow: 1 1 30%;
    color: black;
} */

/* .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.item img {
    width: 100px;
    height: 100px;
} */

/* .container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.fluid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .title {
    float: right;
    line-height: 0;
    margin: 0;
    padding-left: 10px;
    text-transform: uppercase;
}

.title #bold_title {
    font-weight: bold;
} */

/* .info {
    position: absolute;
    right: 10px;
    padding: 20px;
    margin: 0;
}

.info a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

#main_1 h3{
    position: inherit;
} */

/* .pro_details #last_img {
    position: relative;
    left: 70px;
    bottom: -10px;
}

.pro_details > .sponser_logo::after {
    content: "";
    clear: both;
    display: table;
}

.pro_details > .sponser_logo > .col_2 {
    float: left;
    width: 18%;
} */

/* .pro_name {
    position: relative;
    bottom: -40px;
    right: -85px;
}

.company_name {
    position: relative;
    bottom: -70px;
    right: -10px;
}

.title_name {
    position: relative;
    bottom: -103px;
    right: 88px;
}

.bio_name {
    position: relative;
    bottom: -133px;
    right: 153px;
} */

/* @media screen and (max-width: 1024px) {

    .content {
        display: inline-block;
        padding-left: 95px;
        padding-top: 35px;
        position: absolute;
        top: 120px;
    }
    
/*     .col_1 {
        width: 56%;
        padding: 5px;
    }
    
    .col {
        float: left;
        width: 28%;
        padding: 5px;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    

    aside {
        display: inline-block;
        position: relative;
        right: -640px;
        top: 40px;
        height: 1220px;
        width: 32%;
        background: whitesmoke;
    }

    .client_pic > .img_center {
        position: relative;
        top: 30px;
        left: 47px;
        width: 235px;
        height: 245px;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 58px;
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
        border-radius: 50%;
    }

    .pagination {
        display: inline-block;
        position: relative;
        bottom: -120px;
        left: 125px;
    }
} */

/* @media screen and (max-width: 768px) {

/*  .content {
        display: none;
    }

    .col {
        float: left;
        width: 50%;
        padding: 5px;
    }

    .col_1 {
        width: 100%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    } 

    aside {
        display: inline-block;
        position: relative;
        right: -480px;
        top: 40px;
        width: 30%;
        height: 1180px;
        background: whitesmoke;
    }

    .pro_title {
        position: relative;
        right: -25px;
        bottom: -10px;
    }

    .client_pic > .img_center {
        position: relative;
        top: 20px;
        left: 25px;
        width: 180px;
        height: 180px;
    }

    .pro_upper {
        width: 175px;
        position: relative;
        bottom: -15px;
    }

    .pro_place {
        position: relative;
        right: -25px;
        bottom: -15px;
    }

    .pro_middle {
        width: 175px;
        position: relative;
        bottom: -15px;
    }

    .pro_details {
        position: relative;
        right: -25px;
        bottom: -15px;
    }

    .pro_details p{
        padding-right: 75px;
        font-size: small;
        display: block;
    }

    .pagination {
        display: inline-block;
        position: relative;
        bottom: -80px;
        left: 55px;
    }

    /* .pro_details > .sponser_logo {
        content: "";
        clear: both;
        display: table;
    }

    .pro_details > .sponser_logo > .col_2 {
        width: 100%;
    } 

    .fa {
        padding: 8px;
        font-size: 20px;
        width: 38px;
        text-align: center;
        text-decoration: none;
        margin: 20px 0px;
        border-radius: 50%;
    }
} */